@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input-text {
		width: theme('width.full');
		border: theme('borderWidth.0');
		border-bottom: theme('borderWidth.2');
		border-color: theme('colors.gray.400');
		border-style: solid;
		outline: theme('outlineWidth.0');
		color: theme('colors.white');
		background-color: theme('colors.transparent');
		transition: theme('transitionDuration.100');
	}

	.input-text:focus {
		border-color: theme('colors.primary');
	}

	.input-submit {
		font-size: theme('fontSize.xl');
		background-color: theme('colors.primary');
		border-width: theme('borderWidth.DEFAULT');
		border-color: theme('colors.gray.400');
		border-style: solid;
		border-radius: theme('borderRadius.md');
		cursor: theme('cursor.pointer');
		transition: theme('transitionDuration.100');
	}

	.input-submit:hover {
		background-color: theme('colors.primary');
	}

	.link {
		color: theme('colors.blue.300');
	}

	.link:hover {
		text-decoration: underline;
	}

	.glass {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
	}
}

@layer base {
  body {
    @apply bg-background text-text;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
	overflow-y: hidden;
	max-width: 100dvw;	
}

::selection {
	color: white;
	background: #40a9ff;
}

::-webkit-scrollbar {
	width: 8px;
	height: 3px;
	border: 0px solid hsl(0, 0%, 27%);
	border-top: 0;
	border-bottom: 0;
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-scrollbar-track {
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #8f8f8f;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}